body {
  background-color: #b3d3ea;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#gameboard {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.boardSquare {
  background-color: #FFFFF0;
  border: .001em solid #7aa7c7;
  font: bold 150px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  font-size: 20px;
  font-weight: bolder;
}

.startbuttons {
  display: none;
  gap: 10px;
  padding: 10px;
}

.startgame {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.startgame:hover,
.startgame:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.startgame:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.startgame:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
}
